<!DOCTYPE html>
<html>
<body>

<h1>Comment on song ${song_name}</h1>

<form action="/comment">
  <p><label for="comment_txt">Comment:</label></p>
  <textarea id="comment_txt" name="comment_txt" rows="4" cols="50"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
</body>
</html>