<!DOCTYPE html>
<html>
<body>

<H1> Welcome to Music App!</h1>


<H3>Please login with Google.</h3>
    
<form action="/oAuth" method="post">
<div class="">
    <div>
    <span class="prefix strong">User/Email:</span>
        </div>
    <div>
              <input type="text" id="username" name="username" placeholder="User Name" ></div>
    </div>
    <div>
        <div>
        <span class="prefix strong">Password:</span>
        </div>
        <div>
        <input type="password" id="password" name="password" autocomplete="off" placeholder="Password">
        </div>
        <div>
        <input type="submit" id="sub"  value="Log In">
        </div>
    </div>
</div>
</form>
</body>
</html>