<!DOCTYPE html>
<html>
<body>
<div id="main">
<h1>Music App!</h1>
    <div id="songs">
        <h2>Songs</h2>
        <div id="{song_id}">
            <h3>Song A <button type="submit" id="edit-button" data-song="{song_id}">New Comment</button></h3>

          <div id="comments">
            <p>Comment 1 by @user_id, @created_at </p>
            <p>Comment 2 by @user_id, @created_at </p>
            <p>Comment 3 by @user_id, @created_at </p>
          </div>
        </div>
        <div id="{song_id}">
            <h3>Song B <button type="submit" id="edit-button" data-song="{song_id}">New Comment</button></h3>
          <div id="comments">
            <p>Comment 1 by @user_id, @created_at </p>
            <p>Comment 2 by @user_id, @created_at </p>
            <p>Comment 3 by @user_id, @created_at </p>
          </div>
        </div>
        <div id="{song_id}">
          <h3>Song C <button type="submit" id="edit-button" data-song="{song_id}">New Comment</button></h3>
          <div id="comments">
            <p>Comment 1 by @user_id, @created_at </p>
            <p>Comment 2 by @user_id, @created_at </p>
            <p>Comment 3 by @user_id, @created_at </p>
          </div>
        </div>
     </div
</div>

</body>
</html>

